
.DS_Store

/a1/datasets
a1/lists/training_jim.txt
a1/classifier
.vscode/settings.json
*.dSYM/
lab4/greeting
a2/datasets/testing_data.bin
a2/datasets/training_data.bin
a1/
a2/datasets/te_500.bin
a2/datasets/te_5000.bin
a2/datasets/tr_1000.bin
